 body {
     text-align: center;
     background-color: hsl(204, 42%, 42%);

 }
 table {
    border: 1px solid black;
    margin-left:200px;
    margin-top: 50px;
    background-color: lightblue;

}
th , td {
    border: 1px solid darkblue;
}
fieldset{
    display: inline-block;
    background-color:rgb(30, 77, 109);
    color: white;
    margin-top:20px ;
    border: rgb(18, 5, 54) solid 1px ;

}
input{

    border: solid rgb(4, 4, 46);
}
#location{
    margin-left: 45px;
}
#button:hover{
    background-color: teal;
    color: rgb(18, 5, 54);
    
}